<section class="question">
	<h2>У ВАС ЕСТЬ вопросы?</h2>
	<h3>МЫ С УДОВОЛЬСТВЕМ НА НИХ ОТВЕТИМ!</h3>
	<p>Вы можете оставить свои данные и менеджер Вам перезвонит. Не беспокойтесь, мы никуда не передаем Ваши данные.</p>
	<form action="#">
		<label>Телефон*</label>
		<input type="tel" placeholder="+7 (***) *** ** **">
		<label for="#">Имя</label>
		<input type="text" placeholder="Иван">
		<label for="#">Электронная почта</label>
		<input type="email" placeholder="123@gmail.com">
		<label for="#">Когда Вам будет удобно, чтобы мы перезвонили?</label>
		<input type="text">
		<label for="#">*поле обязательно для заполнения</label>
		<button type="submit">получить консультацию</button>
	</form>
</section>