<div class="_admin-popup">
	<div class="admin-popup _popup-content">
		<div class="admin-popup__content ">
			<button class="g-popup__clsoe" onclick="o2.gPopup.close('admin-popup')">X</button>
			<h1>Оставить отзыв</h1>
			<form class="admin-popup__content-form" action="#">
				<input type="name" placeholder="Имя">
				<input type="imail" placeholder="Эл. почта или телефон">
				<p>
					<select>
						<option>Любой специалист</option>
						<option>ывфы</option>
					</select>
				</p>
				<textarea placeholder="Отзыв"></textarea>
				<button type="submit">Отправить</button>
			</form>
		</div>
	</div>
</div>