.slider
{
	height: 1068px;
	padding: 85px 217px;
	background-image: url('./img/slider-img.png'), url('./img/slider-img.png');
	background-size: cover;
	background-repeat: no-repeat;
	transform: translateY(-79px);
}
