<section class="slider _slider">
	<div class="slider__logo">
		<a href="#"> <img src="./img/slider-logo.png" alt="logotip"></a>
	</div>
	<p class="slider__text">“романтичные” фортепиано от чешских мастеров</p>
	<div class="slider__content">
		<ul class="slider__list">
			<li class="slider__item">
				<h1>dasdas</h1>
			</li>
			<li class="slider__item">
				<h1>dasdas</h1>
			</li>
			<li class="slider__item">
				<h1>dasdas</h1>
			</li>
			<li class="slider__item">
				<h1>dasdas</h1>
			</li>
			<li class="slider__item">
				<h1>dasdas</h1>
			</li>
		</ul>
	</div>
</section>