<header class="header">
	<div class="container">
		<div class="header__top">
			<div class="header__top-info">
				<a href="tel:8 (812) 123-45-67">
					{% include '../../assets/svg/phone.svg' %}
					8 (812) 123-45-67
				</a>
				<span>Работаем 7 дней в неделю</span>
				<span>9:00 — 18:00</span>
			</div>
			<div class="header__top-user">
				<a href="#">
					{% include '../../assets/svg/enter.svg' %}
					Войти
				</a>
				<span>/</span>
				<a href="#">Регистрация</a>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="container">
			<div class="header__bottom-logo">
				<a href="#">PORTEN</a>
			</div>
			<div class="header__bottom-menu">
				<ul class="header__bottom-menu-list">
					<li class="header__bottom-menu-item"><a href="#">Понравилось</a></li>
					<li class="header__bottom-menu-item"><a href="#">Личный кабинет</a></li>
					<li class="header__bottom-menu-item"><a href="#">Настройки</a></li>
				</ul>
				<div class="header__bottom-basket">
					<a href="#">
						{% include '../../assets/svg/basket.svg' %}
					</a>
				</div>
				<div class="header__bottom-search">
					<a href="#">
						{% include '../../assets/svg/search.svg' %}
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
