
@font-face {
	font-family: 'PT Sans';
	src: url('./fonts/PT_Sans/PTSans-Regular.ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Post No Bills Jaffna';
	src: url('./fonts/post-no-bills-jaffna-cufonfonts/PostNoBillsJaffna-Bold.ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Playfair Display';
	src: url('./fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Playfair Display';
	src: url('./fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}