<section class="header__bottom">
	<div class="container">
		<div class="header__bottom-menu">
		<button class="header__bottom-button"><span></span>Каталог
		<div class="header__catalog">
			<div class="header__catalog-wrapper">
				<ul class="header__catalog-list">
					<li class="header__catalog-item">
					<a href="#">{% include '../../assets/svg/pen_icon.svg' %} Письменные принадлежности</a>
					</li>
					<li class="header__catalog-item">
					<a href="#">{% include '../../assets/svg/officeTools_icon.svg' %} Офисные принадлежности</a>
					<div class="header__catalog-submenu-wrapper">
					<ul class="header__catalog-submenu-left">
						<li class="header__catalog-submenu-item"><a href="#">Клей</a></li>
						<li class="header__catalog-submenu-item"><a href="#">Скотч</a></li>
						<li class="header__catalog-submenu-item"><a href="#">Канцелярские ножницы и ножи</a></li>
						<li class="header__catalog-submenu-item"><a href="#">Степлеры и скобы</a></li>
						<li class="header__catalog-submenu-item"><a href="#">Дыроколы</a></li>
						<li class="header__catalog-submenu-item"><a href="#">Канцелярские мелочи</a></li>
						<li class="header__catalog-submenu-item"><a href="#">Лупы</a></li>
					</ul>
					<ul class="header__catalog-submenu-right">
						<li class="header__catalog-submenu-item"><a href="#">Корректоры для текста</a></li>
						<li class="header__catalog-submenu-item"><a href="#">Коврики на стол</a></li>
						<li class="header__catalog-submenu-item"><a href="#">Лотки и накопители для бумаг</a></li>
						<li class="header__catalog-submenu-item"><a href="#">Корзины для бумаг</a></li>
						<li class="header__catalog-submenu-item"><a href="#">Держатели для бумаг</a></li>
						<li class="header__catalog-submenu-item"><a href="#">Бейджи и аксессуары</a></li>
					</ul>
					</div>
					</li>
					<li class="header__catalog-item">
					<a href="#">{% include '../../assets/svg/paper1_icon.svg' %} Бумага</a>
					</li>
					<li class="header__catalog-item">
					<a href="#">{% include '../../assets/svg/cartridge_icon.svg' %} Картриджи для лазерных принтеров</a>
					</li>
					<li class="header__catalog-item">
					<a href="#">{% include '../../assets/svg/note_icon.svg' %} Бумажная продукция</a>
					</li>
					<li class="header__catalog-item">
					<a href="#">{% include '../../assets/svg/files_icon.svg' %} Папки и файлы</a>
					</li>
					<li class="header__catalog-item">
					<a href="#">{% include '../../assets/svg/desk_icon.svg' %} Демонстрационные доски</a>
					</li>
					<li class="header__catalog-item">
					<a href="#">{% include '../../assets/svg/protracto_icon.svg' %} Чертежные принадлежности</a>
					</li>
					<li class="header__catalog-item">
					<a href="#">{% include '../../assets/svg/pencil-case_icon.svg' %} Настольные подставки и визитницы</a>
					</li>
					<li class="header__catalog-item">
					<a href="#">{% include '../../assets/svg/calc_icon.svg' %} Калькуляторы</a>
					</li>
					<li class="header__catalog-item">
					<a href="#">{% include '../../assets/svg/stamp_icon.svg' %} Печати и штампы</a>
					</li>
					<li class="header__catalog-item">
					<a href="#">{% include '../../assets/svg/trade1_icon.svg' %} Оборудование для торговли</a>
					</li>
				</ul>
			</div>
		</div>
		</button>
			<ul class="header__bottom-menu-list">
				<li class="header__bottom-menu-item">
					{% include '../../assets/svg/paper_icon.svg' %}
					<a href="#">Бумажная продукция</a></li>
					<li class="header__bottom-menu-item">
						{% include '../../assets/svg/schoolbag_icon.svg' %}
						<a href="#">Товары для школы</a></li>
						<li class="header__bottom-menu-item">
							{% include '../../assets/svg/creativity_icon.svg' %}
							<a href="#">Товары для творчества</a></li>
							<li class="header__bottom-menu-item">
								{% include '../../assets/svg/trade_icon.svg' %}
								<a href="#">Товары для торговли</a></li>
								<li class="header__bottom-menu-item">
									{% include '../../assets/svg/sale_icon.svg' %}
									<a href="#">Скидки и акции</a></li>
								</ul>
							</div>
						</div>
					</section>