.container
{
	max-width: $widescreen;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding:0 120px;
}
@media (max-width: $desktop)
{
	.container
	{
		padding: 0 60px;
	}
}
@media (max-width: $tablet) {
	.container
	{
		padding: 0 30px;
	}
}
@media (max-width: $mobile) {
	.container
	{
		padding: 0 20px;
	}
}