
@font-face {
	font-family: 'Inter';
	src: url('./fonts/Inter/static/Inter-Regular.ttf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: url('./fonts/Inter/static/Inter-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}