
@font-face {
	font-family:'PT Root UI';
	src: url('./fonts/pt-root-ui.regular.ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family:'PT Root UI';
	src: url('./fonts/pt-root-ui.medium.ttf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family:'PT Root UI';
	src: url('./fonts/pt-root-ui.bold.ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}