
@font-face
{
	font-family: Futura New;
	src: url('./fonts/FuturaNewBook-Reg.ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face
{
	font-family: Futura New;
	src: url('./fonts/FuturaNewlight-Obl.ttf');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face
{
	font-family: Futura New;
	src: url('./fonts/FuturaNewMedium-Reg.ttf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}