<section class="gallery">
	<div class="gallery__top">
		<div class="gallery__top-title">
			<h2>Gallery</h2>
		</div>
		<div class="gallery__top-sort">
			<button> {% include '../../assets/svg/sort.svg' %} Sort</button>
			<form action="#">
				<input type="text" placeholder="Search">
				<button type="submit"></button>
			</form>
			<div class="gallery__top-btns">
				<a href="#">
					{% include '../../assets/svg/top-btn-left.svg' %}
				</a>
				<a href="#">
					{% include '../../assets/svg/top-btn-right.svg' %}
				</a>
			</div>
			<button class="gallery__top-btn">
				{% include '../../assets/svg/create-icon.svg' %}
				Create Ad Place
			</button>
		</div>
	</div>
	<div class="gallery__cards">
		<div class="gallery__card">
			<div class="gallery__card-btns">
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/pen.svg' %}
				</a>
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/dots.svg' %}
				</a>
			</div>
			<div class="gallery__card-text">
				<a href="#">Consumerism Daily</a>
				<a href="#">Your transitional weekend look</a>
			</div>
		</div>
		<div class="gallery__card">
			<div class="gallery__card-btns">
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/pen.svg' %}
				</a>
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/dots.svg' %}
				</a>
			</div>
			<div class="gallery__card-text">
				<a href="#">Consumerism Daily</a>
				<a href="#">Your transitional weekend look</a>
			</div>
		</div>
		<div class="gallery__card">
			<div class="gallery__card-btns">
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/pen.svg' %}
				</a>
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/dots.svg' %}
				</a>
			</div>
			<div class="gallery__card-text">
				<a href="#">Consumerism Daily</a>
				<a href="#">Your transitional weekend look</a>
			</div>
		</div>
		<div class="gallery__card">
			<div class="gallery__card-btns">
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/pen.svg' %}
				</a>
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/dots.svg' %}
				</a>
			</div>
			<div class="gallery__card-text">
				<a href="#">Consumerism Daily</a>
				<a href="#">Your transitional weekend look</a>
			</div>
		</div>
		<div class="gallery__card">
			<div class="gallery__card-btns">
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/pen.svg' %}
				</a>
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/dots.svg' %}
				</a>
			</div>
			<div class="gallery__card-text">
				<a href="#">Consumerism Daily</a>
				<a href="#">Your transitional weekend look</a>
			</div>
		</div>
		<div class="gallery__card">
			<div class="gallery__card-btns">
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/pen.svg' %}
				</a>
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/dots.svg' %}
				</a>
			</div>
			<div class="gallery__card-text">
				<a href="#">Consumerism Daily</a>
				<a href="#">Your transitional weekend look</a>
			</div>
		</div>
		<div class="gallery__card">
			<div class="gallery__card-btns">
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/pen.svg' %}
				</a>
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/dots.svg' %}
				</a>
			</div>
			<div class="gallery__card-text">
				<a href="#">Consumerism Daily</a>
				<a href="#">Your transitional weekend look</a>
			</div>
		</div>
		<div class="gallery__card">
			<div class="gallery__card-btns">
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/pen.svg' %}
				</a>
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/dots.svg' %}
				</a>
			</div>
			<div class="gallery__card-text">
				<a href="#">Consumerism Daily</a>
				<a href="#">Your transitional weekend look</a>
			</div>
		</div>
		<div class="gallery__card">
			<div class="gallery__card-btns">
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/pen.svg' %}
				</a>
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/dots.svg' %}
				</a>
			</div>
			<div class="gallery__card-text">
				<a href="#">Consumerism Daily</a>
				<a href="#">Your transitional weekend look</a>
			</div>
		</div>
		<div class="gallery__card">
			<div class="gallery__card-btns">
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/pen.svg' %}
				</a>
				<a class="gallery__card-btn" href="#">
					{% include '../../assets/svg/dots.svg' %}
				</a>
			</div>
			<div class="gallery__card-text">
				<a href="#">Consumerism Daily</a>
				<a href="#">Your transitional weekend look</a>
			</div>
		</div>
	</div>
</section>