<section class="advantage">
	<div class="container">
		<div class="advantage__title">
			<h2>Мы делаем лучшие букеты</h2>
		</div>
		<div class="advantage__slider">
			<button class="advantage__slider-prev">
				{% include '../../assets/svg/prev.svg' %}
			</button>
			<div class="advantage__client">
				<span>Алиса Иванова</span>
				<span>г.Ноябрьск</span>
			</div>
			<div class="advantage__review">
				<p>Я очень довольна таким отношением к делу. Обслужили просто превосходно, я заказывала по телефону — так подробно мне всё объяснили, помогли выбрать замечательный букет, и привезли всё вовремя, букет был очень красивый, он очень понравился, спасибо вам огромное.</p>
		    	<a href="#">Посмотреть фотографии букета</a>
		    </div>
		    <button class="advantage__slider-next">
		    	{% include '../../assets/svg/next.svg' %}
		    </button>
		</div>
		<div class="advantage__bottom">
			<div class="advantage__bottom-block">
				{% include '../../assets/svg/adventage-1.svg' %}
				<p>Только прямые поставки цветов из Голландии</p>
			</div>
			<div class="advantage__bottom-block">
				{% include '../../assets/svg/advantage-2.svg' %}
				<p>Наши флористы имеют 10 летний стаж работы</p>
			</div>
			<div class="advantage__bottom-block">
				{% include '../../assets/svg/adventage-3.svg' %}
				<p>Все цветы вручную отбираются  нашими флористами</p>
			</div>
		</div>
	</div>
</section>