<section class="hero">
	<div class="container">
		<div class="hero__wrapper">
			<div class="hero__title">
				<h1>Эксклюзивные цветы и букеты <br> flowers Shop</h1>
			</div>
			<p class="hero__description">
				первая в россии эксклюзивная доставка цветов <br> для людей, которые ценят <strong>уникальность</strong>
			</p>
			<div class="hero__slider">
				<button class="hero__slider-btn prev"></button>
				<ul class="hero__slider-list">
					<li class="hero__slider-item">
						<img src="./img/rose.png" alt="flower">
					</li>
					<li class="hero__slider-item">
						<img src="./img/rose-1.png" alt="flower">
					</li>
					<li class="hero__slider-item">
						<img src="./img/rose-2.png" alt="flower">
					</li>
					<li class="hero__slider-item">
						<img src="./img/rose-3.png" alt="flower">
					</li>
					<li class="hero__slider-item">
						<img src="./img/rose-5.png" alt="flower">
					</li>
					<li class="hero__slider-item">
						<img src="./img/rose-6.png" alt="flower">
					</li>
				</ul>
				<button class="hero__slider-btn next"></button>
			</div>
			<div class="hero__order">
				<span class="hero__order-text">Закажите эксклюзивный букет со <strong>скидкой 10%</strong></span>
				<button class="hero__order-btn">Заказать букет</button>
			</div>
		</div>
	</div>
</section>