<section class="main">
	<div class="container">
		<div class="main__wr">
		{% for i in 1..5 %}
			<div class="main__post">
				<h2>Заголовок поста с интригой</h2>
				<p>Таким образом укрепление и развитие структуры требуют от нас анализа форм развития. Не следует, однако забывать, что реализация намеченных плановых заданий требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же консультация с широким активом способствует подготовки и реализации новых предложений. Равным образом новая модель организационной деятельности позволяет оценить значение модели развития.</p>
				<p>Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Таким образом рамки и место обучения кадров в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач.
				</p>
				<p>Повседневная практика показывает, что дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки форм развития. Товарищи! новая модель организационной деятельности требуют определения и уточнения форм развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности требуют определения и уточнения соответствующий  условий активизации. </p>
				<div class="main__post-tag">
					<span>#свежее</span>
					<span>#горячее</span>
					<span>#мое</span>
					<span>#случайность</span>
				</div>
				<div class="main__post-bottom">
					<div class="main__post-bottom-link">
					</div>
					<div class="main__post-bottom-profile">
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<aside class="sidebar">
			<div class="sidebar__top">
				<div class="sidebar__top-avatar">
					<a href="#"><img src="./img/avatar.png" alt="avatar"></a>
					<a href="#">islamovartem</a>
				</div>
				<div class="sidebar__top-btn">
					<button>
						{% include '../../assets/svg/off.svg' %}
					</button>
				</div>
			</div>
			<div class="sidebar__menu">
				<ul class="sidebar__menu-list">
					<li class="sidebar__menu-item"><a href="#">Ответы </a></li>
					<li class="sidebar__menu-item"><a href="#">Комментарии</a></li>
					<li class="sidebar__menu-item"><a href="#">Оценки</a></li>
					<li class="sidebar__menu-item"><a href="#">Сохраненное</a></li>
					<li class="sidebar__menu-item"><a href="#">Подписки</a></li>
					<li class="sidebar__menu-item"><a href="#">Заметки</a></li>
					<li class="sidebar__menu-item"><a href="#">Игнор-лист</a></li>
				</ul>
			</div>
		</aside>
	</div>
</section>