<section class="main">
	<div class="container">
		<div class="main__content">
			<div class="main__logo">
				<a href="#">
					<img src="./img/main-log.png" alt="logotip">
				</a>
			</div>
			<h1>пианино и рояли с многолетней историей</h1>
			<p>напрямую с европейских фабрик Чехия, германия, италия</p>
		</div>
	</div>
</section>