<section class="main">
	<div class="container">
		<div class="main__wr">
			<div class="main__left">
				<img src="./img/poster.png" alt="poster">
				<a href="#">
				{% include '../../assets/svg/play.svg' %}
				Посмотреть трейлер
				</a>
			</div>
			<div class="main__right">
				<div class="main__right-title">
					<h1>Охотники за привидениями: <br>Наследники</h1>
					<span>Ghostbusters: Afterlife</span>
				</div>
				<div class="main__right-descr">
					<p>Мать-одиночка с двумя детьми-подростками селится на старой ферме  в Оклахоме, полученной в наследство от отца, которого она не знала.  Дети пытаются больше узнать о своем деде и находят автомобиль Ecto-1, принадлежавший знаменитым охотникам за привидениями.</p>
				</div>
				<div class="main__right-info">
					<table>
						<tr>
							<th>Режиссер</th>
							<td><a href="#">Джейсон Райтман</a></td>
						</tr>
						<tr>
							<th>Сценарий</th>
							<td><a href="#">Дэн Эйкройд</a></td>
						</tr>
						<tr>
							<th>Премьера</th>
							<td>09.07.2020 (РФ)</td>
						</tr>
					</table>
					<table>
						<tr>
							<th>Бюджет</th>
							<td>1 000 000 $</td>
						</tr>
						<tr>
							<th>Кинопрокат</th>
							<td>SPPR</td>
						</tr>
							<th>Премьера</th>
							<td>09.07.2020 (РФ)</td>
						</tr>
					</table>
				</div>
				<div class="main__right-raiting">
					<span>92%</span>
					<div>
					<p>Рейтинг зрителей</p>
					<p>Средняя оценка: 4,5/5</p>
					<p>Всего голосов: 4 350</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>