<section class="main">
	<div class="container">
		<div class="main__block">
			<h1>Оформи автокредит и&nbsp;получи авто в день обращения</h1>
			<div class="main__block-profit">
				<div class="main__block-profit-item">
					<h2>От 1500 авто</h2>
					<span>В наличии в 12 городах</span>
				</div>
				<div class="main__block-profit-item">
					<h2>До 7 лет</h2>
					<span>Срок погашения</span>
				</div>
				<div class="main__block-profit-item">
					<h2>От 7,4%</h2>
					<span>Ставка по кредиту</span>
				</div>
			</div>
			<div class="main__block-btn">
				<button>Завка на кредит</button>
			</div>
		</div>
	</div>
</section>