<section class="header__top">
	<div class="container">
		<div class="header__top-wrapper">
			<div class="header__top-nav">
				<ul class="header__top-nav-list">
					<li class="header__top-nav-item">
						{% include '../../assets/svg/map_icon.svg' %}
						<a href="#">Махачкала</a></li>
						<li class="header__top-nav-item"><a href="#">Магазины</a></li>
						<li class="header__top-nav-item header__top-nav-item--drop-down">
							<a href="#">Покупателям</a>
							{% include '../../assets/svg/arrod-down.svg' %}
						</li>
						<li class="header__top-nav-item header__top-nav-item--drop-down">
							<a href="#">Юридическим лицам</a>
							{% include '../../assets/svg/arrod-down.svg' %}
						</li>
					</ul>
				</div>
				<div class="header__top-contacts">
					<span class="header__top-phone">
						8-800-999-99-99 (c 03:00 до 22:00)
					</span>
				</div>
			</div>
		</div>
	</section>