{# index.twig #}

{% block footer %}
	<footer class="footer">
		<div class="container">
		<div class="footer__title">
			<h2>Новости по теме</h2>
		</div>
		<div class="footer__blocks">
			<div class="footer__block">
				<p>31 марта 2020</p>
				<p> <a href="#">«Морбиуса» и «Охотников <br>за привидениями» перенесли на следующий год</a> </p>
			</div>
			<div class="footer__block">
				<p>9 декабря 2019</p>
				<p>Наследники: Вышел дебютный трейлер новых «Охотников за привидениями»</p>
			</div>
			<div class="footer__block">
				<p>11 ноября 2019</p>
				<p>Новые «Охотники за привидениями» обзавелись названием</p>
			</div>
			<div class="footer__block">
				<p>19 октября 2019</p>
				<p>Завершились съёмки новых «Охотников за привидениями»</p>
			</div>
		</div>
		</div>
	</footer>
{% endblock %}