<section class="actors">
	<div class="container">
		<div class="actors__titile">
			<span>Актеры</span>
			<span>Создатели</span>
		</div>
		<div class="actor__cards">
		<div class="actor__card">
			<img src="./img/carrie.png" alt="avatar">
			<div class="actor__card-name">
				<span>Кэрри Кун</span>
				<span>Carrie Coon</span>
			</div>
		</div>
		<div class="actor__card">
			<img src="./img/bill.png" alt="avatar">
			<div class="actor__card-name">
				<span>Билл Мюррей</span>
				<span>Bill Murray</span>
			</div>
		</div>
		<div class="actor__card">
			<img src="./img/paul.png" alt="avatar">
			<div class="actor__card-name">
				<span>Пол Радд</span>
				<span>Paul Rudd</span>
			</div>
		</div>
		<div class="actor__card">
			<img src="./img/annie.png" alt="avatar">
			<div class="actor__card-name">
				<span>Энни Поттс</span>
				<span>Annie Potts</span>
			</div>
		</div>
		<div class="actor__card">
			<img src="./img/grace.png" alt="avatar">
			<div class="actor__card-name">
				<span>МакКенна Грейс</span>
				<span>Mckenna Grace</span>
			</div>
		</div>
		<div class="actor__card">
			<img src="./img/dan.png" alt="avatar">
			<div class="actor__card-name">
				<span>Дэн Эйкройд</span>
				<span>Dan Aykroyd</span>
			</div>
		</div>
		<div class="actor__card">
			<img src="./img/ernie.png" alt="avatar">
			<div class="actor__card-name">
				<span>Эрни Хадсон</span>
				<span>Ernie Hudson</span>
			</div>
		</div>
		<div class="actor__card">
			<img src="./img/finn.png" alt="avatar">
			<div class="actor__card-name">
				<span>Финн Вулфард</span>
				<span>Finn Wolfhard</span>
			</div>
		</div>
		</div>
	</div>
</section>