<section class="header__midlle">
	<div class="container">
	<div class="header__midlle-wrapper">
		<div class="header__midlle-logo">
			<a class="header__midlle-logo-link" href="#">
				{% include '../../assets/svg/logo.svg' %}
			</a>
		</div>
		<div class="header__midlle-search">
			<form>
				<input type="text" placeholder="Быстрый поиск">
				<button type="submit">
					{% include '../../assets/svg/search_icon.svg' %}
				</button>
			</form>
		</div>
		<div class="header__midlle-menu">
			<ul class="header__midlle-menu-list">
				<li class="header__midlle-menu-item">
					{% include '../../assets/svg/favorit_icon.svg' %}
					<a href="#">Избранное</a>
						<span>3</span>
					</li>
					<li class="header__midlle-menu-item">
						{% include '../../assets/svg/comparing_icon.svg' %}
						<a href="#">Сравнить</a></li>
						<li class="header__midlle-menu-item">
							{% include '../../assets/svg/basket_icon.svg' %}
							<a href="#">Корзина</a>
							<span>7</span>
							</li>
						</ul>
					</div>
					</div>
				</div>
			</section>