<div class="_tabs-wr">
	<div class="tab">
		<ul class="tabs">
			<li class="tab-btn" data-path='one' onclick="o2.tab.open(event, 1)"><span href="#">tab-1</span></li>
			<li class="tab-btn" data-path='two' onclick="o2.tab.open(event, 2)"><span href="#">tab-2</span></li>
			<li class="tab-btn" data-path='tree' onclick="o2.tab.open(event, 3)"><span href="#">tab-3</span></li>
		</ul>
	</div>
	<div class="tab__content" data-target="1">
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla sed quas cupiditate placeat natus perspiciatis accusamus necessitatibus ea tempora praesentium. Quas deserunt recusandae dolorum exercitationem laborum dolorem id architecto quos.</p>
	</div>
	<div class="tab__content " data-target="2">
		<p> lorefffLorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla sed quas cupiditate placeat natus perspiciatis accusamus necessitatibus ea tempora praesentium. Quas deserunt recusandae dolorum exercitationem laborum dolorem id architecto quos.</p>
	</div>
	<div class="tab__content " data-target="3">
		<p>Loremfsdfsfsfs ipsum, dolor sit amet consectetur adipisicing elit. Nulla sed quas cupiditate placeat natus perspiciatis accusamus necessitatibus ea tempora praesentium. Quas deserunt recusandae dolorum exercitationem laborum dolorem id architecto quos.</p>
	</div>
</div>