<header class="header">
	<div class="container">
		<div class="header__wrapper">
			<div class="header__logo"> <a href="/index.html">{% include '../../assets/svg/logo.svg' %}</a> </div>
			<form class="header__form">
				<input type="text" class="header__input" placeholder="Адрес доставки">
			</form>
			<div class="header__buttons">
				<button class="header__button"> {% include '../../assets/svg/user-icon.svg' %} Войти</button>
				<button class="header__button header__button-basket"> {% include '../../assets/svg/basket-icon.svg' %} Корзина</button>
			</div>
		</div>
	</div>
</header>
