<header class="header">
		<div class="header__content">
			<div class="header__top">
				<div class="header__top-logo">
					<a href="#">
						{% include '../../assets/svg/header-logo.svg' %}
					</a>
				</div>
				<ul class="header__top-list">
					<li class="header__top-item"><a href="#">онлайн-магазин пианино и роялей</a></li>
					<li class="header__top-item"><a href="#">настройка пианино и роялей</a></li>
					<li class="header__top-item"><a href="#">аренда пианино и роялей</a></li>
					<li class="header__top-item"><a href="#">дополнительные системы</a></li>
					<li class="header__top-item"><a href="#">новостной блог</a></li>
					<li class="header__top-item"><a href="#">о компании</a></li>
					<li class="header__top-item"><a href="#">Контакты</a></li>
				</ul>
			</div>
			<div class="header__bottom">
				<a href="tel:+7 708 107 85 07">+7 708 107 85 07</a>
				<button class="header__bottom-btn" onclick="o2.feedback.open()">Заказать звонок</button>
				<a href="#"><img src="./img/header-basket.png"></a>
				<a href="#"><img src="./img/header-profile.png"></a>
			</div>
		</div>
</header>
