<header>
	<div class="header__top">
		<div class="container">
			<div class="header__top-wr">
				<div class="header__top-city">
					<a href="#">{% include '../../assets/svg/map.svg' %}</a>
					<a href="#">Москва {% include '../../assets/svg/arrod-down.svg' %}</a>
				</div>
				<div class="header__top-menu">
					<ul>
						<li><a href="#">Бонусная программа</a></li>
						<li><a href="#">Акции</a></li>
						<li><a href="#">Доставка</a></li>
						<li><a href="#">Помощь</a></li>
						<li><a href="#">Магазины</a></li>
						<li><a href="#">Личный кабинет</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="header__middle">
			<a class="header__middle-logo" href="#">
				<img src="./img/logo.png">
			</a>
			<div class="header__middle-btn">
				<button> {% include '../../assets/svg/btn.svg' %}<span>Каталог</span></button>
			</div>
			<form class="header__middle-form">
				<input placeholder="Поиск">
				<a href="#">
					{% include '../../assets/svg/search.svg' %}
				</a>
			</form>
			<div class="header__middle-favorit">
				<a href="#">{% include '../../assets/svg/favorit.svg' %}<span>10</span></a>
			</div>
			<div class="header__middle-basket">
				<a href="#">{% include '../../assets/svg/basket.svg' %}<span>10</span></a>
			</div>
			<div class="header__middle-contact">
				<div class="header__middle-phone">
					<a href="tel:+7 (495) 98-100-98">{% include '../../assets/svg/phone.svg' %}+7 (495) 98-100-98</a>
					<span>с 09:00 до 21:00</span>
				</div>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="container">
			<ul class="header__bottom-items">
				<li class="header__bottom-item"><a href="#"> {% include '../../assets/svg/sale.svg' %} <span>Распродажа</span></a></li>
				<li class="header__bottom-item"><a href="#">Диваны и кресла</a></li>
				<li class="header__bottom-item"><a href="#">Шкафы и стеллажи</a></li>
				<li class="header__bottom-item"><a href="#">Кровати и матрасы</a></li>
				<li class="header__bottom-item"><a href="#">Столы и тумбы</a></li>
				<li class="header__bottom-item"><a href="#">Корпусная мебель</a></li>
				<li class="header__bottom-item"><a href="#">Текстиль для дома</a></li>
			</ul>
		</div>
	</div>
</header>
