<header class="header">
	<div class="container">
	<div class="header__wr">
		<nav class="header__nav">
			<a href="#">Pikadu</a>
			<a href="#">Свежее </a>
			<a href="#">Лучшее</a>
			<a href="#">Горячее</a>
			<a href="#">Подписки</a>
		</nav>
		<form class="header__form" action="#">
			<input type="text" placeholder="Поиск по сайту">
			<a href="#">{% include '../../assets/svg/search.svg' %}</a>
		</form>
	</div>
	</div>
</header>
