<header class="header">
	<div class="container">
		<div class="header__wr">
			<div class="header__logo">
				<a href="">{% include '../../assets/svg/logo.svg' %}</a>
			</div>
			<div class="header__menu">
			<form class="header__search">
				<a href="#">{% include '../../assets/svg/search-icon.svg' %}</a>
			    <input placeholder="Поиск по фильмам...">
			</form>
			<nav class="header__nav">
				<a href="#">Фильмы</a>
				<a href="#">ТВ</a>
				<a href="#">Новости</a>
				<a href="#">О сервисе</a>
			</nav>
			</div>
			<div class="header__buttons">
				<button onclick="o2.gPopup.open('_header-popup')" >Регистрация</button>
				<button>Войти</button>
			</div>
		</div>
	</div>
</header>
