<header class="header">
	<div class="header__content">
		<div class="header__left">
			<div class="header__folder">
				<a href="#">{% include '../../assets/svg/folder.svg' %}</a>
				<a href="#">Publisher cabinet</a>
				{% include '../../assets/svg/arrow.svg' %}
			</div>
			<nav class="header__nav">
				<ul class="header__nav-list">
					<li><a href="#">First Item</a></li>
					<li><a href="#">Middle Item</a></li>
					<li><a href="#">Middle Item</a></li>
					<li><a href="#">Middle Item</a></li>
					<li><a href="#">Middle Item</a></li>
				</ul>
			</nav>
		</div>
		<div class="header__right">
			<form class="header__right-search" action="#">
                <a href="#">{% include '../../assets/svg/search.svg' %}</a>
			</form>
			<div class="header__right-notice">
			<a href="#">{% include '../../assets/svg/notice.svg' %}</a>
			</div>
			<div class="header__right-profile">
			    <a href="#">YF</a>
			</div>
		</div>
	</div>
	<aside>
		<div class="sidebar">
		<div class="sidebar__top">
				<a href="#">{% include '../../assets/svg/logo.svg'%} <span>Core</span></a>
				<a href="#">{% include '../../assets/svg/Dashboard.svg'%} <span>Dashboard</span></a>
				<a href="#">{% include '../../assets/svg/Campaign.svg' %} <span>Campaign</span></a>
				<a href="#">{% include '../../assets/svg/Network.svg' %} <span>Network</span></a>
				<a href="#">{% include '../../assets/svg/Creative.svg' %} <span>Creative</span></a>
				<a href="#">{% include '../../assets/svg/Analysis.svg' %} <span>Analysis</span></a>
		</div>
		<div class="sidebar__bottom">
				<a href="#">{% include '../../assets/svg/Admin.svg' %} <span>Admin</span></a>
				<a href="#">{% include '../../assets/svg/Help.svg' %} <span>Help</span></a>
				<a href="#">{% include '../../assets/svg/Support.svg' %} <span>Support</span></a>
		<div class="sidebar__bottom-btn">
			<a href="#"> {% include '../../assets/svg/arrow-prev.svg' %}</a>
		</div>
		</div>
		</div>
	</aside>
</header>
