<header class="header">
	<div class="container">
		<div class="header__top">
			<div class="header__left">
				<div class="header__left-logo">
					<a href="#">{% include '../../assets/svg/main-logo.svg' %}</a>
				</div>
				<nav class="header__left-nav">
					<ul class="header__left-nav-list">
						<li class="header__left-nav-item"><a href="#">Купить</a></li>
						<li class="header__left-nav-item"><a href="#">Продать</a></li>
						<li class="header__left-nav-item"><a href="#">Автокредит</a></li>
						<li class="header__left-nav-item"><a href="#">Контакты</a></li>
					</ul>
				</nav>
			</div>
			<div class="header__right">
				<div class="header__right-city">
					<a href="#">
						{% include '../../assets/svg/map.svg' %}
						Екатеринбург
					</a>
				</div>
				<div class="header__right-contact">
					{% include '../../assets/svg/phone.svg' %}
					<a href="tel:+7 994-664-36-27">+7 994-664-36-27</a>
				</div>
				<div class="header__right-burger">
					<a href="#">
						<span></span>
						<span></span>
						<span></span>
					</a>
				</div>
			</div>
		</div>
		<div class="header__block">
			<h1>Оформи автокредит и&nbsp;получи авто в день обращения</h1>
			<div class="header__block-profit">
				<div class="header__block-profit-item">
					<h2>От 1500 авто</h2>
					<span>В наличии в 12 городах</span>
				</div>
				<div class="header__block-profit-item">
					<h2>До 7 лет</h2>
					<span>Срок погашения</span>
				</div>
				<div class="header__block-profit-item">
					<h2>От 7,4%</h2>
					<span>Ставка по кредиту</span>
				</div>
			</div>
			<div class="header__block-btn">
				<button>Завка на кредит</button>
			</div>
		</div>
	</div>
</header>
