<header class="header">
	<div class="container">
		<div class="header__menu">
			<div class="header__logo">
				<span>Film.</span>
			</div>
			<div class="header__nav">
				<form action="#">
					{% include '../../assets/svg/search-icon.svg' %}
					<input class="header__nav-search" placeholder="Поиск по фильмам...">
				</form>
				<nav class="header__nav-items">
					<a href="#">Фильмы</a>
					<a href="#">ТВ</a>
					<a href="#">Новости</a>
					<a href="#">О сервисе</a>
				</nav>
			</div>
			<div class="header__enter">
				<button>Регистрация</button>
				<button>Войти</button>
			</div>
		</div>
	</div>
</header>
